<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Amanda Nascimento" />

    <title>@ViewBag.Title - CRUD MVC Entity Framework</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.ico" />
</head>
<body id="login">

    <div class="center-height">
        @RenderBody()
    </div>

    <footer>
        <p class="text-center mb-20"><input type="button" class="btn btn-default" value="COMO ACESSAR" id="btn-informacoes"></p>
        <p>&copy; @DateTime.Now.Year - Amanda Nascimento</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert")
    @RenderSection("scripts", required: false)

    <script>
        var msg = "\n"
            + "Para acessar o painel, utilize os dados abaixo.\n"
            + "\ne-mail: admin@admin.com"
            + "\nsenha: 1234";

        $("#btn-informacoes").click(function () {
            swal("", msg,);
        });
    </script>
</body>
</html>
